# Git
.git
.gitignore
.gitattributes

# Python
__pycache__/
*.py[cod]
*.egg-info/
.mypy_cache/
.ruff_cache/
.pytest_cache/
.venv/
venv/

# Node
node_modules/
.next/
out/
build/
dist/
npm-debug.log*
.vercel

# Environment
.env
.env.local
.env.*.local

# IDEs
.idea/
.vscode/
*.swp
.DS_Store

# Docs
*.pdf
*.md
LICENSE

# Docker
Dockerfile
.dockerignore
docker-compose*.yml
