# Git
.git
.gitignore
.gitattributes

# Node
node_modules/
.next/
out/
build/
dist/
npm-debug.log*
yarn-debug.log*
.pnpm-debug.log*
.vercel

# Environment
.env
.env.local
.env.*.local

# IDEs
.idea/
.vscode/
*.swp
.DS_Store

# Docs
*.pdf
*.md
LICENSE

# Docker
Dockerfile
.dockerignore
docker-compose*.yml
